<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coffee Shop</title>
  <link rel="stylesheet" href="products.component.css">
</head>
<body>
  
  <section class="product-section">
    <h2>Our Products</h2>
  
    <div class="product-grid">
        <div *ngFor="let product of products" class="product-card">
        <img [src]="product.imageUrl" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <span class="price">Rs.{{ product.price }}</span>
        <button (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
  </section>
  
  <section class="product-section">
    <!--<h2>Special Offers</h2>-->
  
    <div class="product-grid">
      
      <div *ngFor="let offer of specialOffers" class="product-card">
        <img [src]="offer.image" alt="{{ offer.name }}">
        <h3>{{ offer.name }}</h3>
        <p>{{ offer.description }}</p>
        <span class="price">Rs.{{ offer.price }}</span>
        <button (click)="addToCart(offer)">Add to Cart</button>
      </div>
    </div>
  </section>
</body>
</html>
